<%
var at_least_one_misc = false;
for (var c in categories) {
    if (categories[c].misc === true) {
        at_least_one_misc = true;
    }
}
%>
<ul
        class="nav nav-tabs"
        id="categoriesTab"
        role="tablist"
        data-game-abbreviation="<%= game_abbreviation %>"
        data-game-id="<%= game_id %>"
        data-default-category="<%= default_category %>"
        data-has-subcategories=<%= at_least_one_misc %>
>
    <%
    for (var c in categories) {
    if (categories[c].misc === false) { %>
    <li class="nav-item nav-category">
        <a
                class="nav-link category disabled"
                data-category-id="<%= c %>"
                data-abbreviation="<%= categories[c].abbreviation %>"
                href="#<%= categories[c].abbreviation %>"
        >
            <%= categories[c].name %>
        </a>
    </li>
    <%
    }
    }

    if (at_least_one_misc) {
    %>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle disabled" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            Miscellaneous
        </a>
        <div class="dropdown-menu">
            <% for (var c in categories) {
            if (categories[c].misc === true) {
            %>
            <a
                    class="dropdown-item category disabled"
                    data-category-id="<%= c %>"
                    data-abbreviation="<%= categories[c].abbreviation %>"
                    href="#<%= categories[c].abbreviation %>"
            >
                <%= categories[c].name %>
            </a>
            <% }
            } %>
        </div>
    </li>
    <% } %>
</ul>

