<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="http://speedsouls.com/images/e/e4/Speedsouls_horizontal.png" class="d-inline-block align-top"
             alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Wikis
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% for (var g in games) {
                    if (games.hasOwnProperty(g)) {
                        var game = games[g];
                    %>
                    <a class="dropdown-item" href="/leaderboards/<%= g %>"><%= game.name %></a>
                    <%
                    }
                    } %>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Leaderboards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <% for (var g in games) {
                    if (games.hasOwnProperty(g)) {
                        var game = games[g];
                    %>
                    <a class="dropdown-item" href="/leaderboards/<%= g %>"><%= game.name %></a>
                    <%
                    }
                    } %>
                </div>
            </li>
            <li class="nav-item">
                <!-- Example single danger button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Submit runs
                    </button>
                    <div class="dropdown-menu">
                        <% for (var g in games) {
                        if (games.hasOwnProperty(g)) {
                            var game = games[g];
                        %>
                        <a class="dropdown-item" href="https://www.speedrun.com/<%= game.abbreviation %>/editrun"><%= game.name %></a>
                        <%
                        }
                        } %>
                    </div>
                </div>
            </li>
        </ul>



        <form class="form-inline my-2 my-lg-0" action="http://speedsouls.com/index.php?seach_content">
            <input type="hidden" name="title" value="Special%3ASearch" />
            <input class="form-control mr-sm-2"  name="search" type="text" placeholder="TODO Ajax search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>